asgiref==3.8.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.7
idna==3.10
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0selenium

selenium
tweepy
python-dotenv
python-dotenv

selenium==4.29.0
tweepy==4.15.0
python-dotenv==1.0.1


python-dotenv
